.container{
    width: 90%;

}
.item-grid{
    display: grid;
    grid-template-columns: 80px 1fr 100px;
    grid-template-rows: 1fr;
    gap:15px;
}
.price-grid{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    gap:15px;
}

.img-container img{
    width: 100%;
}